@import "../../utils/variables.scss";

.card {
  box-sizing: border-box;
  width: 324px;
  height: 567px;
  border-radius: 20px;
  overflow: hidden;
  color: $Gray-heading;
  outline: 2px solid transparent;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;

  @include hover(transform, scale(1.03));

  &:hover {
    outline: 2px solid $Pink;
    transition: $animationDuration;
  }

  &__image {
    width: 324px;
    height: 260px;
    object-fit: cover;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 271px;
    padding: 18px 24px;
    background-color: $Card-backround;
    font-weight: 300;
  }

  &__about {
    height: 140px;
    font-size: 14px;

  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }

  &__stack {
    font-size: 12px;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    padding-top: 8px;
  }

  &__link {
    color: #fff;

    @include hover(transform, scale(1.1));

    &:hover {
      color: $Pink;
      transition: $animationDuration;
    }
  }
}

.footer-item {
display: flex;
column-gap: 12px;
}